<!DOCTYPE html>
<html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
     <link rel="stylesheet" href="footer.css">
     <title>Footer</title>
  </head>
  <body>
      <footer class="main-footer">
         <div class="footer__section">
          <h2 class="footer__title">Sobre Nosotros:</h2>
          <p class="footer__txt">Somos un equipo de programadores que realiza el primer sitio web de indumentaria virtual en Argentina.  Nuestro objetivo es ofrecer; gracias a los diseñadores, una visualización en 3D y que la devolución sea un producto costumizado en 2D. La ropa incluye patrones, información técnica y la apariencia real de la prenda. Tal representación refleja una forma nueva y una eficiente comunicación entre los diseñadores y los fabricantes.
            </p>
         </div>
         <div class="footer__section">
          <h2 class="footer__title">Encontranos en:</h2>
          <a href="link de nuestra empresa en wordpress"><img src="img/logo.jpeg" width="150" height="150" hspace="25"></a>
          <h2 class="footer__title">Contacto</h2>
          <p class="footer__txt">Celular : +5493547123456</p>
          <p class="footer__txt">Email : info@example.com</p>
         </div>
         <div class="footer__section">
          <h2 class="footer__title">Enlaces Rápidos</h2>
          <a href="" class="footer__link">Inicio</a>
          <a href="" class="footer__link">Mujer</a>
          <a href="" class="footer__link">Hombre</a>
          <a href="" class="footer__link">Accesorios</a>
          <a href="" class="footer__link">Diseñadores</a>
          <a href="" class="footer__link">Inicio de Sesión</a>
         </div>
         <div class="footer__section">
          <h2 class="footer__title">¿Sos Diseñador/a?</h2>
          <p class="footer__txt">
            Invitamos a la comunidad de diseñadores de indumentaria a incorporar y ofrecer a la venta sus diseños 3D.</p>
          <input type="email" class="footer__input" placeholder="Dejános tu correo electrónico">
         </div>
         <p class="copy">© 2022 VirtualTrend | Design by Day 256</p>

        </footer>
  </body>
</html>
