<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>Virtual Trends</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Noto+Sans+JP&display=swap" rel="stylesheet"> 
		
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/estilos.css">
</head>

<body>

	<header>
		<nav class="navbar navbar-expand-lg navbar2">
			<div class="container-fluid">
			  <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
				  <a class="nav-link" href="producto-mujer.html">Mujer</a>
				  <a class="nav-link" href="producto-hombre.html">Hombre</a>
				  <a class="nav-link">Diseñadores</a>
				</div>
			  </div>
			  <a class="nav-link col" href="index.html" title="Inicio">Virtual Trends</a>
			  <div class="collapse navbar-collapse d-lg-flex justify-content-end" id="navbarNavAltMarkup">
				<div class="navbar-nav">
				  <a class="nav-link " href="login.html">Inicio de Sesión</a>
				</div>
			  </div>
			</div>
		</nav>
		<div class="contenedor-imagen">
			<a href="#">
				<img src="https://thumbs.dreamstime.com/b/panorama-esf%C3%A9rico-del-interior-de-la-tienda-de-la-ropa-de-deportes-77953378.jpg" alt="">
			</a>
		</div>
	</header>
	
	<main id="blog">
		<h1 class="titulo">Contacto</h1>
		<div class="contenedor">
			<!--<aside>
				<h3 class="titulo">Esto seria un menu</h3>
				<nav class="indice">
					<a href="#">Articulo #1</a>
					<a href="#">Articulo #2</a>
					<a href="#">Articulo #3</a>
					<a href="#">Articulo #4</a>
					<a href="#">Desplazamiento Main</a>
				</nav>
			</aside>-->

			<div class="contenido">
				<div class="post">
					<p>
						No olvides que podés visitar la sección de <a href="/faq.html">preguntas frecuentes</a>.						
					</p>
					<form>
					<div class="form">
						<input type="text" name="nombre" id="nombre" placeholder="Nombre" required/>
						<input type="email" name="email" id="email" placeholder="Email" required/>
						<textarea name="mensaje" id="mensaje" placeholder="Mensaje" row="10" cols="40" required></textarea>
						<input type="submit" id="enviar-form-contacto" value="Enviar">
					</div>
					</form>
				</div>					
			</div>
		</div>
	</main>

	<footer>
		<div class="contenedor-imagen">
			<img src="https://thumbs.dreamstime.com/b/mosc%C3%BA-rusia-mercanc%C3%ADas-de-la-tienda-del-noviembre-para-los-deportes-extremos-d-panorama-esf%C3%A9rico-%C3%A1ngulo-visi%C3%B3n-107433981.jpg" alt="">
		</div>
		<div class="footer">
			<ul>
			<li><a href="contacto.html">Contacto</a></li>
			<li><a href="faq.html">FAQ</a></li>
			<li><a href="https://dia256.com.ar/" target="_blank" rel="noopener noreferrer">Día 256</a></li>
			</ul>
			<ul>
				<li><a href="#">Facebook</a></li>
				<li><a href="#">Instagram</a></li>
			</ul>			
		</div>
		
	</footer>
	<script src="js/bootstrap.bundle.min.js"></script>
</body>

</html>