<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>Virtual Trends</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Noto+Sans+JP&display=swap" rel="stylesheet"> 
		
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/estilos.css">
</head>

<body>

	<header>
		<nav class="navbar navbar-expand-lg navbar2">
			<div class="container-fluid">
			  <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
				  <a class="nav-link" href="producto-mujer.html">Mujer</a>
				  <a class="nav-link" href="producto-hombre.html">Hombre</a>
				  <a class="nav-link">Diseñadores</a>
				</div>
			  </div>
			  <a class="nav-link col" href="index.html" title="Inicio">Virtual Trends</a>
			  <div class="collapse navbar-collapse d-lg-flex justify-content-end" id="navbarNavAltMarkup">
				<div class="navbar-nav">
				  <a class="nav-link " href="login.html">Inicio de Sesión</a>
				</div>
			  </div>
			</div>
		</nav>
		<div class="contenedor-imagen">
			<a href="#">
				<img src="https://thumbs.dreamstime.com/b/panorama-esf%C3%A9rico-del-interior-de-la-tienda-de-la-ropa-de-deportes-77953378.jpg" alt="">
			</a>
		</div>
	</header>
	
	<main id="blog">
		<h1 class="titulo">FAQ</h1>
		<div class="contenedor">
			<!--<aside>
				<h3 class="titulo">Esto seria un menu</h3>
				<nav class="indice">
					<a href="#">Articulo #1</a>
					<a href="#">Articulo #2</a>
					<a href="#">Articulo #3</a>
					<a href="#">Articulo #4</a>
					<a href="#">Desplazamiento Main</a>
				</nav>
			</aside>-->


			<div class="contenido mb-5 w-100">
				<div class="post">

							
					<div class="accordion" id="accordion-faq">
						<div class="accordion-item">
							<h2 class="accordion-header titulo" id="heading1">
								<button class="accordion-button collapsed fs-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
								¿Necesito crear una cuenta para comprar?
								</button>
							</h2>
							<div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#accordion-faq">
								<div class="accordion-body">
									<p>Sí, ya que en tu cuenta está guardada toda la información necesaria para el pago y el envío. Además te da la posibilidad de guardar productos favoritos, preferencias de talles, realizar segumiento de tus productos, entre otros beneficios.</p>
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header titulo" id="heading2">
								<button class="accordion-button collapsed fs-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
									¿Cómo crear una cuenta?
								</button>
							</h2>
							<div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#accordion-faq">
								<div class="accordion-body">
									<p>Es simple. En la esquina superior derecha hacé click en "Inicio de sesión", luego en "Registrarse", ingresá tus datos por último hacé click en el botón "Registrarme" y listo, ya tenés tu cuenta.</p>
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header titulo" id="heading3">
								<button class="accordion-button collapsed fs-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
									¿Cómo comprar?
								</button>
							</h2>
							<div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordion-faq">
								<div class="accordion-body">
									<p>Para comprar seguí estos pasos:</br>
										<ol>
											<li>Iniciá sesión</li>
											<li>En la página de la prenda elegí el color y las medidas</li>
											<li>Agregá el producto al carrito</li>
											<li>En el carrito confirmá tus datos</li>
											<li>Seleccioná el método de envío</li>
											<li>Seleccioná el método de pago</li>
											<li>Confirmá la compra y listo</li>
										</ol> 
									</p>
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header titulo" id="heading4">
								<button class="accordion-button collapsed fs-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
									¿Cuáles son los medios de pago?
								</button>
							</h2>
							<div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordion-faq">
								<div class="accordion-body">
									<p>Podés abonar en efectivo en Rapipago o Pagofácil, también podés pagar con tarjeta de débito o credito. </p>
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header titulo" id="heading5">
								<button class="accordion-button collapsed fs-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
									¿Cuáles son los medios de envío?
								</button>
							</h2>
							<div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#accordion-faq">
								<div class="accordion-body">
									<p>Podemos enviar el producto a tu domicilio por Correo Argentino o podés retirarlo en una de sus sucursales.</p>
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header titulo" id="heading6">
								<button class="accordion-button collapsed fs-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
									¿Cuál es el costo del envío?
								</button>
							</h2>
							<div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6" data-bs-parent="#accordion-faq">
								<div class="accordion-body">
									<p>Podés calcular el costo del envío Seleccionando un producto y luego "Calcular costo de envío". </p>
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header titulo" id="heading7">
								<button class="accordion-button collapsed fs-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
									¿Cuánto demora el envío?
								</button>
							</h2>
							<div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7" data-bs-parent="#accordion-faq">
								<div class="accordion-body">
									<p>La confección y el despacho de una prenda puede demorar de uno a tres días máximo, luego el envío entre uno y doce días, dependiendo de tu localidad.</p>
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header titulo" id="heading8">
								<button class="accordion-button collapsed fs-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
									¿Puedo devolver el producto?
								</button>
							</h2>
							<div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8" data-bs-parent="#accordion-faq">
								<div class="accordion-body">
									<p>Las prendas sólo tienen devolución en caso de estar falladas o no coincidir con las características que hayas especificado, lo cual es improbable. En ese caso debés comunicarte con nosotros y contarnos el motivo de la devolución.</p>
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header titulo" id="heading9">
								<button class="accordion-button collapsed fs-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
									¿Cómo hago para vender mis diseños?
								</button>
							</h2>
							<div id="collapse9" class="accordion-collapse collapse" aria-labelledby="heading9" data-bs-parent="#accordion-faq">
								<div class="accordion-body">
									<p>Si sos diseñador/a y querés trabajar con nosotros, no dudes en comunicarte, podés hacerlo dando <a href="/contacto.html">click aquí</a>. </p>
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header titulo" id="heading10">
								<button class="accordion-button collapsed fs-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
									¿Alguna otra duda?
								</button>
							</h2>
							<div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10" data-bs-parent="#accordion-faq">
								<div class="accordion-body">
									<p>Si tenés alguna otra duda, contactate con nosotros haciendo <a href="/contacto.html">click aquí</a>, estamos para ayudarte.</p>
								</div>
							</div>
						</div>
					</div>
				</div>	 	
			</div>
		</div>
	</main>

	<footer>
		<div class="contenedor-imagen">
			<img src="https://thumbs.dreamstime.com/b/mosc%C3%BA-rusia-mercanc%C3%ADas-de-la-tienda-del-noviembre-para-los-deportes-extremos-d-panorama-esf%C3%A9rico-%C3%A1ngulo-visi%C3%B3n-107433981.jpg" alt="">
		</div>
		<div class="footer">
			<ul>
			<li><a href="contacto.html">Contacto</a></li>
			<li><a href="faq.html">FAQ</a></li>
			<li><a href="https://dia256.com.ar/" target="_blank" rel="noopener noreferrer">Día 256</a></li>
			</ul>
			<ul>
				<li><a href="#">Facebook</a></li>
				<li><a href="#">Instagram</a></li>
			</ul>			
		</div>
		
	</footer>
	<script src="js/bootstrap.bundle.min.js"></script>
</body>

</html>