* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	outline: none;
}

a:hover {
	text-decoration: underline;
}

body {
    font-family: 'Noto Sans JP', sans-serif;	
	background: #f2f2f2;
}

/* * ============================== */
/* * ============ HEADER ========== */
/* * ============================== */

.navbar2 {
	background: #FFCD48;
	position:sticky;
	top: 0;
	width: 100%;
	z-index: 4;
}

.navbar2 a {
	color: #fff;
	display: inline-block;
	padding: 20px;
	width: 100%;
	text-align: center;
	color: rgb(8, 8, 8);
	transition: .3s ease-out all;
}

.navbar2 a:hover {
	background: #1D2F3D;
	color: #fff;
	text-decoration: none;
}

.contenedor {
	max-width: 1000px;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: center;
}

/* * ============================== */
/* * ============ IMAGEN ========== */
/* * ============================== */

.contenedor-imagen {
	/*height: 100vh;*/
}

.contenedor-imagen img {
	width: 100%;
	height: 100%;
	vertical-align: top;
	object-fit: cover;
	object-position: 0 bottom;
}

.img-secundaria-producto {
	width: 100px;
}

.img-principal-producto {
	width: 100%;
}

/* * ============================== */
/* * ============ MAIN ============ */
/* * ============================== */

main {
	min-height: 100vh;
}

main .contenido p {
	margin-bottom: 20px;
	line-height: 30px;
	color: #525151;
}

main .contenido .titulo {
    font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	/*padding-top: 40px;*/
}

main .contenido .fecha {
	font-size: 14px;
	color: #B5B5B5;
}

h1 {
	display:flex;
	justify-content: center;
	padding: 1em;
}

/* * ============================== */
/* * ============ ASIDE =========== */
/* * ============================== */

aside {
	min-width: 30%;
	margin: 40px 20px 20px 0;
	height: 100%;
	background: #1D2F3D;
	padding: 20px;
	border-radius: 3px;
	position: sticky;
	top: 15px;	
}

aside .titulo {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 24px;
	margin-bottom: 20px;
	color: #f2f2f2;
}

aside .indice a {
	display: block;
	margin-bottom: 10px;
	color: #FFCD48;
}

/* * ============================== */
/* * ========== FOOTER ============ */
/* * ============================== */
.footer {	
	background: #1D2F3D;
	position: sticky;
	bottom: 0;
	display: flex;
	justify-content: space-between;
}
.footer	ul {
	margin: 0;
}
.footer	li {
	display: inline-block;
	padding: 20px;
	text-align: center;
}
.footer	a {
	color: #fff;
}


/* * ============================== */
/* * ====== MEDIA QUERIES ========= */
/* * ============================== */
@media screen and (max-width: 900px){
	.navbar2 .contenedor {
		flex-wrap: wrap;
		margin: 0;
		width: 100%;
	}

	.navbar2 a {
		width: auto;
		flex: 1;
	}

	.contenedor-imagen {
		height: 50vh;
	}

	main .contenedor {
		flex-direction: column;
	}
}

/* * ============================== */
/* * ========== CONTACTO ========== */
/* * ============================== */
.form {
	display: flex;
	flex-direction: column;
}
.form>* {
	margin: 2%;
	padding: 1%;
	font-family: 'Noto Sans JP', sans-serif;
}

